<div class="jumbotron">
    <h1>Pointwise</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About Pointwise</h2>
        <p>Pointwise is meant to provide relevant news related to competitive exams to the candidates.</p>
        <p>We take the pain of skimming through the ocean of news and information world and take just what's relevant to the candidates and letting him/her concentrate on preparation.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Admin API</h2>
        <p>The Admin API is meant for providing back-end service to front-end.</p>
        <p>The front-end is to be provided to super-admin, authors or editors who are responsible to create news content.</p>
    </div>
    <div class="col-md-4">
        <h2>Platforms</h2>
        <p>Pointwise is being rolled out in phased manner.</p>
        <p>First it will be made available on web, then later will be available for mobile devices.</p>
        <p>There will be a lot on plate for the users and we would try to add value to the competitors.</p>
    </div>
</div>
